
.btn{
  background-color: #87ff72;
  box-shadow: 0 5px 0 #25c946;
  border-radius: 5px;
  border: 0px;
}
.btn:active{
  box-shadow: none;
  transform: translateY(5px);
}
.finbtn{
  background-color: #fca2cf;
  box-shadow: 0 5px 0 #fb72bd;
  border-radius: 5px;
  border: 0px;
}
.finbtn:active{
  box-shadow: none;
  transform: translateY(5px);
}